.announcements {
    width: 60%;
    display: block;
    position: relative;
    margin: 0 auto 10px auto;
    min-height: calc(100vh - 17.5rem - 24px);
    text-align: center;
}

.announcementsTitle {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #414141;
    margin: 20px 0;
}

.announcementsContent {
    text-align: left;
    overflow: hidden;
}

.announcementsStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.announcementsStatus span:nth-child(1) {
    padding: 0 2rem;
    color: #414141;
    border: #707070 solid 1px;
}

.indent li {
    list-style-image: url(../img/listType.jpg);
    list-style-position: inside;
}

span.color_system {
    background: #E8AB9E;
}
