.image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #707070;
    box-shadow: 0px 0px 2px 2px #DDDDDD;
}

.image>img {
    width: 100%;
}

.fieldName {
    color: #1F5A1A;
    text-align: left;
}
