.block60 {
    width: 60%;
    display: block;
    position: relative;
    margin: 0 auto 10px auto;
    min-height: calc(100vh - 17.5rem - 24px);
    text-align: center;
    overflow: hidden;
}

.registerTable {
    margin: 10px auto;
    text-align: left;
    border-collapse: separate;
    border-spacing: 10px;
}

.registerTable span {
    padding: 5px;
    line-height: 2rem;
}

.registerTable span:first-child {
    color: #414141;
}

.registerTable tr td:nth-child(1) {
    border-right: 1px solid #707070;
}

.block60Title {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #414141;
    margin: 20px 0;
}

.informationArea {
    width: 70%;
    margin: 1rem auto;
    color: #414141;
}

.expandList {
    width: 75%;
    display: block;
    position: relative;
    margin: 20px auto 10px auto;
    min-height: calc(100vh - 17.5rem - 24px);
    text-align: left;
}

.expandListTitle {
    padding: 0 10px;
    font-size: 1.25rem;
    font-weight: bolder;
    color: #FFFFFF;
    background: #588154;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px #DDDDDD;
}

.expandListArea {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #DDDDDD;
    background: #FBFBFB;
    overflow: hidden;
    margin-bottom: 20px;
}

.contactTable {
    margin: 10px auto;
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.contactTable span {
    padding: 5px;
    line-height: 2rem;
}

.contactTable tr:not(:first-child) td {
    border-top: 1px solid #707070;
}

.contactTable tr td:nth-child(1) {
    border-right: 1px solid #707070;
}

.listInBlock,
.listInBlock li {
    text-align: left;
    clear: both;
    float: initial;
}

.listSubtitle {
    color: #1F5A1A;
    list-style-type: initial;
    font-size: 1rem;
    font-weight: bolder;
}

.alignLeft {
    text-align: left;
}

.subBar {
    width: 100%;
}

.themes {
    width: 100%;
    background: #D0E8CD;
    text-align: center;
    color: #2D548F;
}

.oneRow {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.oneRow input[type="text"] {
    width: 70%;
}
.oneRow select {
    padding: 0 5px;
    box-sizing: border-box;
    color: #414141;
}

.tagArea div {
    width: 30%;
    margin-left: -5%;
    display: block;
    position: relative;
    float: left;
    height: 2rem;
    line-height: 2rem;
    color: #1F5A1A;
    background: #D0E8CD;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    z-index: 5;
}

.tagArea div:nth-child(1) {
    margin: 0;
    background: #75A47A;
    color: #FFFFFF;
    z-index: 10;
}

/* ↓↓↓如果分頁不在第一位的樣式↓↓↓ */
/* .tagArea div:nth-child(1) {
    margin-left: 0;
}

.tagArea div:nth-child(2) {
    margin-left: -5%;
    background: #75A47A;
    color: #FFFFFF;
    z-index: 10;
} */
/* ↑↑↑如果分頁不在第一位的樣式↑↑↑ */

.block {
    margin: 20px 0;
    text-align: center;
}

.contentBlock {
    width: 100%;
    box-shadow: 2px 0px 2px #DDDDDD;
    border: 1px solid #707070;
    border-radius: 0px 10px 10px 10px;
    clear: both;
}

.contentBlock>ul>li {
    float: inherit;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}

.collection {
    width: 100%;
    box-shadow: 2px 0px 2px #DDDDDD;
    border-radius: 0px 10px 10px 10px;
    background: #82B57E;
    clear: both;
}

.collection table {
    display: table;
    width: 100%;
    color: #1F5A1A;
    text-align: center;
    border-collapse: collapse;
}

.collection ul {
    display: none;
}

.collection tr {
    background: #FFFFFF;
    line-height: 2rem;
}

.collection td {
    border-bottom: #707070 dashed 1px;
}

.collection tr:nth-child(1) {
    color: #FFFFFF;
}

.collection tr:nth-child(1) td {
    background: #82B57E;
    border: none;
}

.fieldName {
    display: block;
    width: 30%;
}

.advise {
    text-align: center;
}

.actionButton {
    width: 100px;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
    padding: 5px 15px;
    background: #82B57E;
    border: #365439 solid 1px;
}

.submitButton {
    width: 100px;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
    padding: 0 15px;
    background: #75A175;
    border: #365439 solid 1px;
}

.nextPage {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    color: #FFFFFF;
    background: #82B57E;
    border-radius: 0px 0px 10px 10px;
}

.nextPage div {
    padding: 0 10px;
}

.nextPage div:nth-child(1) {
    width: 20%;
}

.nextPage div:nth-child(2) {
    width: 60%;
}

.nextPage div:nth-last-child(1) {
    width: 20%;
}

.nextPage input {
    width: 50px;
}

.messageBlock {
    padding: 3rem 0 2rem 0;
}

.workTypes {
    width: 100%;
    background: #82B57E;
    color: #FFFFFF;
    text-align: center;
}

.workTypesArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.indent>li {
    list-style-image: url(../img/listType.jpg);
    list-style-position: inside;
    float: initial;
}

.textUnderline {
    text-decoration: underline;
}

.nameTitle {
    color: #1F5A1A;
    font-weight: bolder;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagStatus {
    display: inline-block;
    width: 7rem;
    text-align: center;
    color: #414141;
    border: #707070 solid 1px;
    word-break: keep-all;
}

.tagType {
    padding: 0 1rem;
    color: #414141;
    border: #707070 solid 1px;
}

.pc {
    display: inline-block;
}

.sp {
    display: none;
}

span.color_system {
    background: #E8AB9E;
}

span.color_activity {
    background: #9BC6E2;
}

span.color_message {
    background: #8DE290;
}