@media only screen and (max-width: 1200px) {
    .whole {
        width: 100%;
    }

    .innerFooter {
        width: 85%;
    }

    .menuIcon {
        display: none;
    }

    .searchArea {
        width: 50%;
    }
}