* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    color: #414141;
}

li {
    position: relative;
    float: left;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ========↓↓↓=header=↓↓↓========= */
.whole {
    width: 75%;
    margin: auto;
}

.header,
.navBar,
.searchBar {
    z-index: 10;
}

.searchArea {
    width: 50%;
}

.navBar {
    height: 3rem;
    box-shadow: 0px 0px 3px #707070;
    padding: 0 1rem;
}

.navBarIcon {
    width: calc(30% - 1rem);
    margin-right: 1rem;
}

.navBarTool {
    width: 70%;
    right: -100%;
    z-index: 25;
}

.navBarTool li {
    cursor: pointer;
}

.navBarTool li:nth-child(1) {
    font-weight: bolder;
}

.navBarIcon img,
.searchIcon img {
    width: 24px;
    cursor: pointer;
}

.headerSpaceArea {
    display: flex;
    align-items: center;
    height: 8rem;
}

.searchBar {
    display: flex;
    justify-content: center;
    height: 2.5rem;
    box-shadow: 0px 0px 3px #707070;
    transition: none;
}

.search {
    width: 90%;
    display: flex;
}

.search input {
    width: 70%;
}

.search select {
    width: 30%;
}

.search input,
.search select {
    box-sizing: border-box;
    height: 1.5rem;
}

.search select {
    margin: 0 0 0 -1px;
}

.searchIcon {
    width: 10%;
    margin: 10px 0 0 5px;
}

/* ========↑↑↑=header=↑↑↑========= */

/* ========↓↓↓=footer=↓↓↓========= */

.footer {
    box-shadow: 0px 0px 3px #707070;
}

.innerFooter {
    width: 70%;
    margin: auto;
}

.slogan {
    letter-spacing: 5pt;
    line-height: 2rem;
}

.footerIcon ul {
    display: flex;
    justify-content: center;
}

.footerIcon img {
    width: 24px;
    margin: 0 10px;
}

.footerHr {
    border-top: 1px solid #333333;
}

.copyrightText {
    float: left;
    width: 25%;
    font-size: 0.5rem;
}

.footerBottom {
    height: 2rem;
}

.footerTool {
    float: right;
    width: 75%;
}

.footerTool li {
    width: 20%;
    cursor: pointer;
}

/* ========↑↑↑=footer=↑↑↑========= */


/* ======================================== */
/* ======================================== */
.block60 {
    width: 60%;
    margin: 0 auto 10px auto;
    min-height: calc(100vh - 17.5rem - 24px);
}

.registerTable {
    margin: 10px auto;
    border-collapse: separate;
    border-spacing: 10px;
}

.registerTable span {
    padding: 5px;
    line-height: 2rem;
}

.block60Title {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 20px 0;
}

.informationArea {
    width: 70%;
    margin: 1rem auto;
}

.expandList {
    width: 75%;
    margin: 20px auto 10px auto;
    min-height: calc(100vh - 17.5rem - 24px);
}

.expandListTitle {
    padding: 0 10px;
    font-size: 1.25rem;
    font-weight: bolder;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px #DDDDDD;
}

.expandListArea {
    border-radius: 10px;
    box-shadow: 2px 2px 2px #DDDDDD;
    margin-bottom: 20px;
}

.contactTable {
    margin: 10px auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.contactTable span {
    padding: 5px;
    line-height: 2rem;
}

.listInBlock,
.listInBlock li {
    clear: both;
    float: initial;
}

.listSubtitle {
    list-style-type: initial;
    font-size: 1rem;
    font-weight: bolder;
}

.oneRow {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.oneRow input[type="text"] {
    width: 70%;
}

.oneRow select {
    padding: 0 5px;
    box-sizing: border-box;
}

.newSelect {
    font-size: 1.25rem;
    margin: 20px 0;
}

.newSelect span {
    margin-right: 1rem;
}

.newSelect select {
    padding: 0 5px;
    box-sizing: border-box;
}

.breakRow textarea {
    min-height: 5rem;
    resize: vertical;
}

div.postButtonArea {
    margin-top: 5rem;
}

.newWorkArea {
    float: left;
}

.newWorkArea>div {
    margin: 10px 0;
}

.tagArea div {
    width: 30%;
    margin-left: -5%;
    float: left;
    height: 2rem;
    line-height: 2rem;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    z-index: 5;
}

.tagArea div:nth-child(1) {
    margin: 0;
    z-index: 10;
}

/* ↓↓↓如果分頁不在第一位的樣式↓↓↓ */
/* .tagArea div:nth-child(1) {
    margin-left: 0;
}

.tagArea div:nth-child(2) {
    margin-left: -5%;
    background: #82B57E;
    color: #FFFFFF;
    z-index: 10;
} */
/* ↑↑↑如果分頁不在第一位的樣式↑↑↑ */

.block {
    margin: 20px 0;
}

.grayBlock {
    box-shadow: 2px 2px 2px #DDDDDD;
    border-radius: 10px 10px 0px 0px;
}

.conditionTitle {
    font-weight: bolder;
    border-radius: 10px 10px 0px 0px;
}

.conditionContent {
    margin: 0 1rem;
}

.conditionTable {
    width: 50%;
    border-collapse: collapse;
    line-height: 2rem;
}

.contentBlock,
.overviewWorkBlock {
    box-shadow: 2px 0px 2px #DDDDDD;
    border-radius: 0px 10px 10px 10px;
    clear: both;
}

.contentBlock>ul>li,
.overviewWorkBlock>ul>li {
    float: inherit;
    padding: 10px;
    box-sizing: border-box;
}

.collection {
    box-shadow: 2px 0px 2px #DDDDDD;
    border-radius: 0px 10px 10px 10px;
    clear: both;
}

.collection table {
    display: table;
    border-collapse: collapse;
}

.collection tr {
    line-height: 2rem;
}

.collection td {
    border-bottom: 1px dashed #707070;
}

.collection tr:nth-child(1) td {
    border: none;
}

.fieldName {
    display: block;
    width: 30%;
}

.actionButton {
    width: 100px;
    margin: auto;
    padding: 5px 15px;
}

.submitButton {
    width: 100px;
    margin: auto;
    padding: 5px 15px;
}

.nextPage {
    height: 2rem;
    line-height: 2rem;
    border-radius: 0px 0px 10px 10px;
}

.nextPage div {
    padding: 0 10px;
}

.nextPage div:nth-child(1) {
    width: 20%;
}

.nextPage div:nth-child(2) {
    width: 60%;
}

.nextPage div:nth-last-child(1) {
    width: 20%;
}

.nextPage input {
    width: 50px;
}

.messageBlock {
    padding: 3rem 0 2rem 0;
}

.workTypesArea {
    width: 95%;
    margin: 0 auto;
}

.indent>li {
    list-style-image: url(../img/listType.jpg);
    list-style-position: inside;
    float: initial;
}

ol li,
.indent ol li {
    list-style: inherit;
    list-style-position: inside;
    list-style-image: none;
}

.nameTitle {
    font-weight: bolder;
}

.tagStatus {
    display: inline-block;
    width: 7rem;
    word-break: keep-all;
}

.tagType {
    display: inline-block;
    padding: 0 1rem;
    margin: 0.25rem auto;
    word-break: keep-all;
}

.regularButton {
    width: 200px;
    line-height: 2.5rem;
    font-size: 1.25rem;
}

.workArea,
.fourmArea {
    margin-top: 1rem;
}

.chapterInfo,
.workContent {
    margin-top: 0.5rem;
    transition: none;
}

.workTitle span:nth-child(1),
.blockTitle {
    font-size: 1.25rem;
    font-weight: bolder;
}

.like {
    margin: 1rem auto;
}

.like span:nth-child(2) {
    margin-left: 1rem;
}

.likeButton {
    display: block;
    width: 24px;
    height: 24px;
}

.tags span {
    position: relative;
    float: left;
    margin: 0.25rem 0.5rem;
}

.illustrateScroll,
.secWorkScroll {
    padding: 0.5rem 0;
    overflow-x: scroll;
}

.illustrateArea,
.secWorkArea {
    width: max-content;
}

.illustrate,
.secPaint,
.secNovel {
    height: 150px;
    margin: 0 0.5rem;
}

.illustrate img,
.secPaint img {
    width: 150px;
}

.secNovel {
    width: 300px;
    padding: 0 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px #DDDDDD;
}

.secNovelContent {
    max-height: 6rem;
    overflow-y: hidden;
}

.msgBoard {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 2px 2px 2px #DDDDDD;
    box-sizing: border-box;
}

.msgBoard:not(:first-child) {
    margin-top: 1.5rem;
}

.authorImage {
    display: block;
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 2px #DDDDDD;
}

.msgArea {
    width: calc(100% - 100px);
    padding: 0 10px;
    box-sizing: border-box;
}

.deleteButton {
    float: right;
    padding: 0 5px;
}

.leaveAMessage {
    margin-bottom: 1rem;
    min-height: 7rem;
    resize: none;
}

.image {
    position: relative;
    box-shadow: 0px 0px 2px 2px #DDDDDD;
}

/* 唯一 */

.editIcon {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #000000;
    right: 1rem;
    bottom: 1rem;
}

.editIcon img {
    width: 24px;
}

.remindAlign {
    width: 80%;
    justify-content: space-between;
}

.communityGuidelinesItem {
    font-weight: bolder;
    padding: 10px 0;
    box-sizing: border-box;
}

.communityGuidelinesItem ul {
    clear: both;
}

.communityGuidelinesItem li {
    float: initial;
    list-style-type: initial;
    margin-left: 2rem;
    line-height: 2rem;
}

.announcementTitle {
    font-weight: bolder;
    border-radius: 10px 10px 0px 0px;
}

.announcementItem {
    position: relative;
    display: block;
    float: left;
    padding: 1rem;
}

.loginArea {
    width: 80%;
    margin: auto;
}

.loginForm div {
    margin: 10px auto;
}

.half {
    width: 50%;
}

.forgetPassword {
    display: block;
    font-size: 0.75rem;
}

.signInWith img {
    margin: 10px 0;
}

.matchInformation {
    margin: 1rem 0;
}

.matchInformation span:nth-child(1) {
    display: block;
    font-size: 1.25rem;
}

.matchInformation span:nth-child(2) {
    display: block;
}

.im {
    font-size: 1.25rem;
    margin: 20px 0;
}

.im span {
    margin-right: 1rem;
}

.im select {
    padding: 0 5px;
    box-sizing: border-box;
}

.introductionBlock {
    margin: 0.5rem 0;
}

.introductionBlock>span {
    font-size: 1.25rem;
    padding-left: 1rem;
}

.introductionBlock>textarea {
    height: 4rem;
    resize: none;
}

.uploadWork>textarea {
    height: 10rem;
    resize: none;
}

.uploadWork>textarea::placeholder {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.25rem;
    text-align: center;
    line-height: 9.5rem;
}

.searchingArea {
    height: 10rem;
}

.searchingText span {
    display: block;
}

.searchingText span:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bolder;
}

.searchingText span:nth-child(2) {
    font-size: 1rem;
}

.location {
    font-size: 0.75rem;
}

.serialStatus>span {
    margin-right: 1rem;
}

.worksImg {
    width: 200px;
    height: 200px;
    margin-right: 10px;
}

.worksImg img {
    max-width: 100%;
    max-height: 100%;
}

.worksInformation {
    width: calc(100% - 200px);
    box-sizing: border-box;
    padding: 10px;
}

.worksContent {
    height: 6rem;
    font-size: 1rem;
    resize: none;
    border: none;
    outline: none;
}

.worksContent:disabled {
    background: none;
}

.statusItem {
    padding: 0 0.5rem;
}

.overViewTitle {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    font-weight: bolder;
}

.newWorkItem {
    display: block;
    border-bottom: 1px dashed #707070;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.newWorkItem>div {
    margin: 5px 0;
}

.newWorkItem>div>span:nth-child(1) {
    width: calc(100% - 24px);
    display: block;
    padding: 5px 10px;
    box-sizing: border-box;
}

.newWorkItem>div>span:nth-child(2) {
    width: 24px;
}

.workName>span,
.workBook>span,
.workChapter>span {
    display: block;
    width: 33.33%;
    float: left;
    min-height: 1rem;
}

.goto {
    width: fit-content;
    margin: 2rem auto 0 auto;
}

.previousButton,
.nextButton,
.toIndexButton {
    width: 120px;
    float: left;
    line-height: 2.5rem;
    font-size: 1.25rem;
    margin: 0 0.9rem;
}

.fontSize span {
    width: 3.5rem;
    cursor: pointer;
}

.qaItem {
    width: 98%;
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 0 auto 10px auto;
}

.qa_Q {
    font-weight: bolder;
}

.qa_A {
    counter-reset: #414141;
}

.qa_A img {
    width: 75%;
    box-shadow: 2px 2px 2px #DDDDDD;
}

.registerInputArea {
    height: 3rem;
}

.registerHint_sp {
    display: none;
    font-size: 0.75rem;
}

.registerHint {
    font-size: 0.75rem;
}

.informationTable {
    border-collapse: separate;
    border-spacing: 1rem;
}

.informationFieldName {
    width: 30%;
}

.resetMinHeight {
    min-height: auto;
}

.author {
    font-size: 1.5rem;
}

.cover {
    float: left;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
}

.bookArea {
    width: 70%;
    padding: 5px 10px;
    box-sizing: border-box;
}

.chapterArea {
    width: 70%;
    margin-left: 15%;
    padding: 5px 10px;
    box-sizing: border-box;
}


.novelDetail,
.indexArea {
    float: left;
    margin-top: 1rem;
}

.novelHead {
    padding-bottom: 5px;
    box-sizing: border-box;
}

.novelTitle {
    padding: 0 5px;
    box-sizing: border-box;
}

.novelTitle span:nth-child(1) {
    padding: 0 1rem;
}

.novelTitle span:nth-child(2),
.indexText {
    font-size: 1.25rem;
    font-weight: bolder;
}

.novelTitle span:nth-child(2) {
    margin-left: 0.5rem;
}

.novelDescription {
    padding-bottom: 5px;
    box-sizing: border-box;
}

.bookLi {
    margin-bottom: 1rem;
}

.chapterLi {
    margin-top: 0.5rem;
}

.classHead {
    box-sizing: border-box;
}

.classInfoItem {
    width: fit-content;
    float: left;
}

.classFooter>.classInfoItem:not(:last-child) {
    padding-left: 1.5rem;
}

.classFooter>.classInfoItem:first-child {
    padding: 0;
}

.classFooter>.classInfoItem:last-child {
    float: right;
}

.message {
    margin: 0 auto;
    min-height: calc(100vh - 17.5rem - 24px);
}

.contactArea,
.chatroomArea {
    position: relative;
    float: left;
    box-sizing: border-box;
}

.contactArea {
    width: 25%;
    z-index: 10;
}

.chatroomArea {
    width: 75%;
    height: calc(100vh - 13.5rem);
    z-index: 5;
}

.searchContact,
.thisContact {
    height: 2.5rem;
}

.searchContact>input {
    width: calc(60% - 34px);
}

.contactPerson {
    max-height: calc(100vh - 16rem);
    overflow-y: scroll;
    overflow-x: hidden;
}

.contactPerson>li {
    padding: 5px 0;
    cursor: pointer;
}

.contactPerson>li:hover {
    background: #DDDDDD;
}

.contactCover {
    width: 60px;
    border-radius: 30px;
    margin: 0 0.5rem;
}

.previewMessage {
    width: calc(100% - 100px);
    line-break: anywhere;
    box-sizing: border-box;
    padding: 5px;
}

.previewMessage span {
    display: block;
    max-height: 2rem;
}

.previewMessage span:nth-child(1) {
    line-height: 1.5rem;
}

.previewMessage span:nth-child(2) {
    line-height: 1rem;
}

.contactMore {
    width: 50px;
    font-weight: bolder;
    font-size: 2rem;
    letter-spacing: 0.25rem;
}

.contactMore span {
    display: block;
    transform: rotate(90deg);
}

.thisContact {
    display: none;
    align-items: center;
    position: absolute;
    top: -2.5rem;
}

.thisContact span:nth-child(1) {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    cursor: pointer;
}

.chatArea {
    max-height: calc(100vh - 15.5rem);
    overflow-y: scroll;
}

.submitMessage {
    padding: 0 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2rem;
}

.submitMessage>input {
    width: calc(100% - 2rem - 20px);
}

.otherMessage,
.selfMessage {
    padding: 1rem 0;
}

.messageArea {
    width: 60%;
}

.otherMessage .messageArea {
    display: flex;
    align-items: flex-start;
    float: left;
}

.selfMessage .messageArea {
    display: flex;
    align-items: flex-end;
    float: right;
}

.messageInfo {
    width: calc(100% - 1rem - 60px);
}

.messageInfo span {
    display: block;
    line-break: anywhere;
}

.messageInfo span:nth-child(1) {
    font-size: 0.75rem;
}

.messageInfo span:nth-child(2) {
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px #DDDDDD;
    border-radius: 10px;
    padding: 5px;
}

.isRead {
    display: block;
    margin-right: 5px;
}

/* 唯一 */

.pc {
    display: inline-block;
}

span.color_system {
    background: #E8AB9E;
}

span.color_activity {
    background: #9BC6E2;
}

span.color_message {
    background: #8DE290;
}


.type_fantasy {
    background: #FFFFAC;
}

.type_love {
    background: #E89EDE;
}

.type_horrible {
    background: #AAAAAA;
}

.type_reasoning {
    background: #E8C19E;
}

.type_SF {
    background: #9EE8C5;
}

.type_literary {
    background: #8DE290;
}

.type_comedy {
    background: #E8AB9E;
}

.type_artialArts {
    background: #9BC6E2;
}

.type_bgl {
    background: #C69EE8;
}

.type_else {
    background: #9E9EE8;
}