@media only screen and (max-width: 768px) {

    .mainContent {
        width: 95%;
        margin: auto;
    }

    .collection table {
        display: none;
    }

    .collection ul {
        display: block;
        width: 100%;
        padding: 0 2.5%;
    }

    .collection ul li {
        width: 100%;
        margin-top: 10px;
        padding: 5px;
        background: #FFFFFF;
        border: #707070 solid 1px;
    }

    .colIndexTitle {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        border-bottom: #707070 solid 1px;
        color: #414141;
    }

    .listSubtitle {
        margin-left: 1rem;
    }

    .informationArea {
        width: 95%;
    }

    .oneRow input[type="text"] {
        width: 55%;
    }

    .block60 {
        width: 95%;
        margin: 65px auto 10px auto;
    }

    .tagArea div {
        width: 50%;
    }

    .fieldName {
        width: 45%;
    }

    .subBar {
        top: 48px;
        position: fixed;
        z-index: 990;
    }

    .workTypes {
        max-width: 100%;
        overflow-x: scroll;
    }

    .workTypesArea {
        width: max-content;
    }

    .workTypesArea span {
        padding: 0 1rem;
    }

    .timeStamp {
        text-align: right;
        font-size: 0.8rem;
    }

    /* 唯一 */

    .remindAlign {
        width: 100%;
    }

    .communityGuidelines {
        width: 95%;
        margin: 65px auto 10px auto;
    }
    
    .announcementItem {
        padding: 5px;
    }

    .announcementItem a {
        display: block;
        border: 1px solid #707070;
        overflow: hidden;
        padding: 0 0.5rem;
    }

    /* 唯一 */

    .pc {
        display: none !important;
    }

    .sp {
        display: inline-block;
    }

    a.color_system {
        background: #E8AB9E;
    }

    a.color_activity {
        background: #9BC6E2;
    }

    a.color_message {
        background: #8DE290;
    }
}