.block60 {
    width: 60%;
    display: block;
    position: relative;
    margin: 0 auto 10px auto;
    min-height: calc(100vh - 17.5rem - 24px);
    text-align: center;
    overflow: hidden;
}

.registerTable {
    margin: 10px auto;
    text-align: left;
    border-collapse: separate;
    border-spacing: 10px;
}

.registerTable span {
    padding: 5px;
    line-height: 2rem;
}

.registerTable span:first-child {
    color: #414141;
}

.registerTable tr td:nth-child(1) {
    border-right: 1px solid #707070;
}

.block60Title {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #414141;
    margin: 20px 0;
}

.informationArea {
    width: 70%;
    margin: 1rem auto;
    color: #414141;
}

.expandList {
    width: 75%;
    display: block;
    position: relative;
    margin: 20px auto 10px auto;
    min-height: calc(100vh - 17.5rem - 24px);
    text-align: left;
}

.expandListTitle {
    padding: 0 10px;
    font-size: 1.25rem;
    font-weight: bolder;
    color: #FFFFFF;
    background: #588154;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px #DDDDDD;
}

.expandListArea {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #DDDDDD;
    background: #FBFBFB;
    overflow: hidden;
    margin-bottom: 20px;
}

.contactTable {
    margin: 10px auto;
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.contactTable span {
    padding: 5px;
    line-height: 2rem;
}

.contactTable tr:not(:first-child) td {
    border-top: 1px solid #707070;
}

.contactTable tr td:nth-child(1) {
    border-right: 1px solid #707070;
}

.listInBlock,
.listInBlock li {
    text-align: left;
    clear: both;
    float: initial;
}

.listSubtitle {
    color: #1F5A1A;
    list-style-type: initial;
    font-size: 1rem;
    font-weight: bolder;
}

.alignLeft {
    text-align: left;
}

.subBar {
    width: 100%;
}

.themes {
    width: 100%;
    background: #D0E8CD;
    text-align: center;
    color: #2D548F;
}

.oneRow {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.oneRow input[type="text"] {
    width: 70%;
}

.oneRow select {
    padding: 0 5px;
    box-sizing: border-box;
    color: #414141;
}

.newSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: #1F5A1A;
    margin: 20px 0;
}

.newSelect span {
    margin-right: 1rem;
}

.newSelect select {
    padding: 0 5px;
    box-sizing: border-box;
    color: #414141;
}

.breakRow textarea {
    width: 100%;
    min-height: 5rem;
    resize: vertical;
}

div.postButtonArea {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
}

.newWorkArea {
    width: 100%;
    display: block;
    position: relative;
    float: left;
    text-align: left;
    color: #414141;
}

.newWorkArea>div {
    margin: 10px 0;
}

.tagArea div {
    width: 30%;
    margin-left: -5%;
    display: block;
    position: relative;
    float: left;
    height: 2rem;
    line-height: 2rem;
    color: #1F5A1A;
    background: #D0E8CD;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    z-index: 5;
}

.tagArea div:nth-child(1) {
    margin: 0;
    background: #75A47A;
    color: #FFFFFF;
    z-index: 10;
}

/* ↓↓↓如果分頁不在第一位的樣式↓↓↓ */
/* .tagArea div:nth-child(1) {
    margin-left: 0;
}

.tagArea div:nth-child(2) {
    margin-left: -5%;
    background: #75A47A;
    color: #FFFFFF;
    z-index: 10;
} */
/* ↑↑↑如果分頁不在第一位的樣式↑↑↑ */

.block {
    margin: 20px 0;
    text-align: center;
}

.grayBlock {
    width: 100%;
    box-shadow: 2px 2px 2px #DDDDDD;
    border-radius: 10px 10px 0px 0px;
    background: #FBFBFB;
}

.conditionTitle {
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    background: #588154;
    font-weight: bolder;
    border-radius: 10px 10px 0px 0px;
}

.conditionContent {
    margin: 0 1rem;
}

.conditionTable {
    width: 50%;
    color: #1F5A1A;
    border-collapse: collapse;
    text-align: left;
    line-height: 2rem;
}

.label {
    color: #414141;
}

.contentBlock {
    width: 100%;
    box-shadow: 2px 0px 2px #DDDDDD;
    border: 1px solid #707070;
    border-radius: 0px 10px 10px 10px;
    clear: both;
}

.contentBlock>ul>li {
    float: inherit;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}

.collection {
    width: 100%;
    box-shadow: 2px 0px 2px #DDDDDD;
    border-radius: 0px 10px 10px 10px;
    background: #82B57E;
    clear: both;
}

.collection table {
    display: table;
    width: 100%;
    color: #1F5A1A;
    text-align: center;
    border-collapse: collapse;
}

.collection ul {
    display: none;
}

.collection tr {
    background: #FFFFFF;
    line-height: 2rem;
}

.collection td {
    border-bottom: #707070 dashed 1px;
}

.collection tr:nth-child(1) {
    color: #FFFFFF;
}

.collection tr:nth-child(1) td {
    background: #82B57E;
    border: none;
}

.fieldName {
    display: block;
    width: 30%;
}

.advise {
    text-align: center;
}

.actionButton {
    width: 100px;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
    padding: 5px 15px;
    background: #82B57E;
    border: #365439 solid 1px;
}

.submitButton {
    width: 100px;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
    padding: 0 15px;
    background: #75A175;
    border: #365439 solid 1px;
}

.nextPage {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    color: #FFFFFF;
    background: #82B57E;
    border-radius: 0px 0px 10px 10px;
}

.nextPage div {
    padding: 0 10px;
}

.nextPage div:nth-child(1) {
    width: 20%;
}

.nextPage div:nth-child(2) {
    width: 60%;
}

.nextPage div:nth-last-child(1) {
    width: 20%;
}

.nextPage input {
    width: 50px;
}

.messageBlock {
    padding: 3rem 0 2rem 0;
}

.workTypes {
    width: 100%;
    background: #82B57E;
    color: #FFFFFF;
    text-align: center;
}

.workTypesArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.indent>li {
    list-style-image: url(../img/listType.jpg);
    list-style-position: inside;
    float: initial;
}

ol li,
.indent ol li {
    list-style: inherit;
    list-style-position: inside;
    list-style-image: none;
}

.textUnderline {
    text-decoration: underline;
    color: #1F5A1A;
}

.nameTitle {
    color: #1F5A1A;
    font-weight: bolder;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagStatus {
    display: inline-block;
    width: 7rem;
    text-align: center;
    color: #414141;
    border: #707070 solid 1px;
    word-break: keep-all;
}

.tagType {
    padding: 0 1rem;
    color: #414141;
    border: #707070 solid 1px;
    word-break: keep-all;
}

.regularButton {
    width: 200px;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.25rem;
    color: #FFFFFF;
    border: 1px solid #707070;
    background: #2D548F;
}

.workArea,
.fourmArea {
    margin-top: 1rem;
}

.chapterInfo,
.workContent {
    width: 100%;
    text-align: left;
    margin-top: 0.5rem;
    transition: none;
}

.workHead {
    width: 100%;
}

.workTitle {
    border-bottom: 1px solid #707070;
}

.workTitle span:nth-child(1),
.blockTitle {
    font-size: 1.25rem;
    font-weight: bolder;
    color: #1F5A1A;
}

.workInformation span:nth-child(2) {
    text-decoration: underline;
}

.like,
.newIdea,
.illustrateArea,
.illustrate,
.secWorkArea,
.secPaint {
    display: flex;
    justify-content: center;
    align-items: center;
}

.like {
    margin: 1rem auto;
}

.like span:nth-child(2) {
    margin-left: 1rem;
}

.likeButton {
    display: block;
    width: 24px;
    height: 24px;
}

.likeButton img,
.workContent img {
    width: 100%;
}

.block:not(:last-child) {
    overflow: hidden;
    border-bottom: 1px solid #707070;
}

.tags span {
    position: relative;
    float: left;
    margin: 0.25rem 0.5rem;
}

.illustrateScroll,
.secWorkScroll {
    padding: 0.5rem 0;
    overflow-x: scroll;
}

.illustrateArea,
.secWorkArea {
    width: max-content;
}

.illustrate,
.secPaint,
.secNovel {
    height: 150px;
    margin: 0 0.5rem;
    border: #707070 solid 1px;
    overflow: hidden;
}

.illustrate img,
.secPaint img {
    width: 150px;
}

.secNovel {
    width: 300px;
    background: #D0E8CD;
    padding: 0 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px #DDDDDD;
}

.secNovelContent {
    max-height: 6rem;
    text-align: left;
    overflow-y: hidden;
}

.secNovelPopularity {
    text-align: right;
}

.secNovelPopularity span:nth-child(2) {
    text-decoration: underline;
}

.msgBoard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: #707070 solid 1px;
    padding: 5px;
    box-shadow: 2px 2px 2px #DDDDDD;
    box-sizing: border-box;
}

.msgBoard:not(:first-child) {
    margin-top: 1.5rem;
}

.authorImage {
    display: block;
    width: 100px;
    height: 100px;
    border: #707070 solid 1px;
    box-shadow: 2px 2px 2px #DDDDDD;
    overflow: hidden;
}

.authorImage img {
    width: 100%;
}

.msgArea {
    width: calc(100% - 100px);
    padding: 0 10px;
    box-sizing: border-box;
}

.msgHead {
    border-bottom: #707070 solid 1px;
}

.msgContent {
    text-align: left;
}

.deleteButton {
    float: right;
    border: #707070 solid 1px;
    padding: 0 5px;
    background: #E8AB9E;
}

.leaveAMessage {
    width: 100%;
    margin-bottom: 1rem;
    min-height: 7rem;
    resize: none;
}

/* 唯一 */

.linkStyle {
    text-decoration: underline;
    color: #0000FF;
}

.announcementsContent {
    text-align: left;
    overflow: hidden;
}

.editIcon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #000000;
    background: #D9D9D9;
    right: 1rem;
    bottom: 1rem;
}

.editIcon img {
    width: 24px;
}

.remindAlign {
    width: 80%;
    justify-content: space-between;
}

.communityGuidelinesCategory,
.communityGuidelinesCategoryTitle,
.communityGuidelines_Q {
    width: 100%;
}

.communityGuidelinesItem {
    font-weight: bolder;
    color: #1F5A1A;
    padding: 10px 0;
    box-sizing: border-box;
}

.communityGuidelinesItem ul {
    clear: both;
}

.communityGuidelinesItem li {
    float: initial;
    list-style-type: initial;
    margin-left: 2rem;
    line-height: 2rem;
}

.announcementTitle {
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    background: #588154;
    font-weight: bolder;
    border-radius: 10px 10px 0px 0px;
}

.announcementContent {
    overflow: hidden;
    color: #414141;
}

.announcementItem {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    padding: 1rem;
}

.announcementItem a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #414141;
}

.loginArea {
    width: 80%;
    margin: auto;
}

.loginForm input:not(.validateCode) {
    width: 100%;
}

.loginForm div {
    margin: 10px auto;
}

.half {
    width: 50%;
}

.buttonArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgetPassword_sp {
    display: none;
}

.forgetPassword {
    display: block;
    text-align: center;
    font-size: 0.8rem;
}

.signInWith {
    width: 100%;
}

.signInWith img {
    width: 100%;
    margin: 10px 0;
}

.matchInformation {
    width: 100%;
    text-align: left;
    margin: 1rem 0;
}

.matchInformation span:nth-child(1) {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    color: #1F5A1A;
}

.matchInformation span:nth-child(2) {
    display: block;
    width: 100%;
}

.im {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: #1F5A1A;
    margin: 20px 0;
}

.im span {
    margin-right: 1rem;
}

.im select {
    padding: 0 5px;
    box-sizing: border-box;
    color: #414141;
}

.submitModify, .uploadWork {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introductionBlock {
    width: 100%;
    text-align: left;
    margin: 0.5rem 0;
}

.introductionBlock>span {
    font-size: 1.25rem;
    color: #1F5A1A;
    padding-left: 1rem;
}

.introductionBlock>textarea {
    width: 100%;
    height: 4rem;
    resize: none;
}

.uploadWork>textarea {
    width: 100%;
    height: 10rem;
    resize: none;
}

.uploadWork>textarea::placeholder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 1.25rem;
    text-align: center;
    line-height: 9.5rem;
}

.searchingArea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10rem;
    color: #414141;
}

.searchingText span{
    display: block;
    width: 100%;
}

.searchingText span:nth-child(1){
    font-size: 1.5rem;
    font-weight: bolder;
}

.searchingText span:nth-child(2){
    font-size: 0.9rem;
}

.location {
    font-size: 0.8rem;
}

.location>span:nth-child(1), .location>span:nth-child(3) {
    text-decoration: underline;
}

.serialStatus {
    color: #1F5A1A;
}

.serialStatus>span {
    margin-right: 1rem;
}

.workItem {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #707070;
    background: #FFFFFF;
}

.worksImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid #707070;
}

.worksImg img {
    max-width: 100%;
    max-height: 100%;
}

.worksInformation {
    width: calc(100% - 200px);
    box-sizing: border-box;
    padding: 10px;
}

.worksContent {
    width: 100%;
    height: 6rem;
    font-size: 1rem;
    resize: none;
    border: none;
    outline: none;
    color: #414141;
    overflow: hidden;
}

.worksContent:disabled {
    background: none;
}

.workDetails {
    color: #414141;
}

.statusItem {
    padding: 0 0.5rem;
}

.statusItem span:nth-child(2) {
    text-decoration: underline;
}

.overViewTitle {
    margin-left: 0.5rem;
    color: #1F5A1A;
    font-size: 1.25rem;
    font-weight: bolder;
}

.newWorkItem {
    width: 100%;
    display: block;
    border-bottom: 1px dashed #707070;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.newWorkItem>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #414141;
    margin: 5px 0;
}

.newWorkItem>div>span:nth-child(1) {
    width: calc(100% - 24px);
    display: block;
    padding: 5px 10px;
    box-sizing: border-box;
}

.newWorkItem>div>span:nth-child(2) {
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 1px #707070;
}

.newWorkItem img {
    width: 100%;
}

.workName>span, .workBook>span, .workChapter>span {
    display: block;
    width: 33.33%;
    float: left;
    min-height: 1rem;
}

.goto {
    width: fit-content;
    margin: 2rem auto 0 auto;
    overflow: hidden;
}

.previousButton,
.nextButton,
.toIndexButton {
    width: 120px;
    float: left;
    color: #FFFFFF;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.25rem;
    margin: 0 0.9rem;
    border: #365439 solid 1px;
}

.previousButton,
.nextButton {
    background: #82B57E;
}

.toIndexButton {
    background: #75A175;
}

.fontArea {
    width: 100%;
    overflow: hidden;
}

.fontSize span {
    width: 3.5rem;
    border: 1px solid #000000;
    color: #FFFFFF;
    border: #365439 solid 1px;
    background: #82B57E;
    cursor: pointer;
}

.contentHead_sp {
    display: none;
}

.novelChapter {
    color: #1F5A1A;
}

.finished {
    background: #E8AB9E;
}

.qaCategory, .qa_Q, .qa_A {
    width: 100%;
}

.qaItem {
    width: 98%;
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 0 auto 10px auto;
    border-bottom: 1px solid #707070;
    text-align: left;
}

.qa_Q {
    font-weight: bolder;
    color: #1F5A1A;
}

.qa_A {
    counter-reset: #414141;
    text-align: center;
}

.qa_A img {
    width: 75%;
    box-shadow: 2px 2px 2px #DDDDDD;
}

.qa_A *:not(img) {
    text-align: left;
}

.registerInputArea {
    height: 3rem;
}

.registerHint_sp {
    display: none;
    font-size: 0.75rem;
    color: #414141;    
}

.registerHint {
    font-size: 0.75rem;
    color: #1F5A1A;
}

.informationTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1rem;
}

.informationTable tr td:nth-child(1) {
    text-align: right;
    color: #1F5A1A;
}

.informationTable tr td:nth-child(2) {
    text-align: left;
    color: #414141;
}
/* 唯一 */

.pc {
    display: inline-block;
}

.sp {
    display: none;
}

span.color_system {
    background: #E8AB9E;
}

span.color_activity {
    background: #9BC6E2;
}

span.color_message {
    background: #8DE290;
}