@media only screen and (max-width: 768px) {
    .whole {
        width: 100%;
    }

    .header {
        top: 0;
        position: fixed;
        z-index: 999;
    }

    .navBar {
        padding: 0;
    }

    .navBarIcon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0;
        z-index: 15;
    }

    .sp {
        display: block;
    }

    .sp_navBarLogo {
        display: block;
        width: 25%;
    }

    .navBarIcon ul {
        width: calc(55% - 48px);
    }

    .sp_serchSpace {
        width: 10%;
        height: 1rem;
    }

    .menuIcon {
        width: 50px;
        display: block;
        border-left: #333333 solid 2px;
        padding: 0 12px;
    }

    .menuIcon img {
        width: 24px;
    }

    .navBarTool {
        position: fixed;
        width: 75%;
        height: 100vh;
        background: #B7D9B3;
        box-shadow: -2px 0px 3px #555555;
        top: 0;
    }

    .personal,
    .navBarTool ul,
    .navBarTool li:not(.pc) {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        text-align: left;
    }

    .navBarTool li {
        padding: 0.25rem 1rem;
        font-size: 1.25rem;
    }

    .sp_lang {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.5rem;
    }

    .close {
        width: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .close img {
        width: 100%;
    }

    .personal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    .sp_image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        border-radius: 100%;
        box-shadow: 2px 2px 2px #888888;
        margin: 0.5rem 1rem 0 0;
    }

    .sp_image img {
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
    }

    .sp_tool {
        width: 50%;
    }

    .sp_tool div {
        width: calc(50% + 2rem);
        border: 1px solid #707070;
        background: #FFFFFF;
        text-align: center;
        color: #1F5A1A;
        margin: 0.5rem auto;
        padding: 0 1rem;
    }

    .hr {
        display: block;
        width: 100%;
        border-bottom: 2px solid #888888;
        padding-right: 1rem;
    }

    .headerSpaceArea,
    .copyrightText,
    .pc {
        display: none;
    }

    .navBarIcon li:nth-child(1),
    .navBarIcon li:nth-child(2) {
        display: none;
    }

    .searchBar {
        position: absolute;
        width: 10%;
        top: 0;
        right: 50px;
        box-shadow: none;
        z-index: 20;
    }

    .searchArea {
        width: 100%;
        position: relative;
        margin-top: 0.5rem;
    }

    .search input,
    .search select {
        height: 2rem;
    }

    .search {
        display: none;
        width: calc(90% - 50px);
        float: left;
        display: none;
    }

    .searchIcon {
        position: absolute;
        top: 0.25rem;
        right: calc(24px + 0.5rem);
        margin: 0;
        transition: none;
    }

    .mask {
        display: block;
        position: absolute;
        width: 25vw;
        height: 100vh;
        top: 0;
        left: -25vw;
    }



    .innerFooter {
        width: 100%;
    }

    .slogan {
        letter-spacing: 1pt;
    }

    .footerTool {
        width: 100%;
        font-size: 0.75rem;
    }

    .footerTool li:nth-child(2),
    .footerTool li:nth-child(3),
    .footerTool li:nth-child(4),
    .footerTool li:nth-child(5) {
        box-sizing: border-box;
        border-left: solid white 2px;
    }

    .footerTool {
        padding-top: 5px;
    }



    /* ======================================== */
    /* ======================================== */
    .headerMargin {
        margin: 65px 0 10px auto;
    }

    .headerBarMargin {
        margin: 105px 0 10px auto;
    }

    .mainContent {
        width: 95%;
        margin: auto;
    }

    .collection table {
        display: none;
    }

    .collection ul {
        display: block;
        width: 100%;
        padding: 0 2.5%;
    }

    .collection ul li {
        width: 100%;
        margin-top: 10px;
        padding: 5px;
        background: #FFFFFF;
        border: #707070 solid 1px;
    }

    .colIndexTitle {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        border-bottom: #707070 solid 1px;
        color: #414141;
    }

    .listSubtitle {
        margin-left: 1rem;
    }

    .informationArea {
        width: 95%;
    }

    .oneRow input[type="text"] {
        width: 55%;
    }

    .block60 {
        width: 95%;
        margin: 65px auto 10px auto;
    }

    .tagArea div {
        width: 50%;
    }

    .fieldName {
        width: 45%;
    }

    .subBar {
        top: 48px;
        position: fixed;
        z-index: 990;
    }

    .workTypes {
        max-width: 100%;
        overflow-x: scroll;
    }

    .workTypesArea {
        width: max-content;
    }

    .workTypesArea span {
        padding: 0 1rem;
    }

    .timeStamp {
        text-align: right;
        font-size: 0.8rem;
    }

    .conditionTable {
        width: 100%;
    }

    .novel {
        width: 95%;
        margin: 65px auto 10px auto;
    }

    .workArea {
        margin-top: 0;
    }

    .msgHead span {
        width: 100%;
    }

    .msgHead span:nth-child(1) {
        text-align: left;
    }

    .msgHead span:nth-child(2) {
        text-align: right;
    }

    .expandList {
        width: 95%;
        margin: 65px auto 10px auto;
    }

    .worksInformation {
        width: 100%;
        margin: 0;
        border: none;
    }

    .workItem {
        border: none;
        padding: 0;
    }

    .worksImg {
        display: none;
    }

    .workDetails>span:last-child {
        display: none;
    }

    .worksHead {
        padding-bottom: 5px;
        border-bottom: 1px solid #707070;
    }

    .worksContent {
        height: 4.5rem;
    }

    .workDetails {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
    }

    .statusItem {
        padding: 0;
        font-size: 1.25rem;
    }

    /* 唯一 */

    .remindAlign {
        width: 100%;
    }

    .communityGuidelines {
        width: 95%;
        margin: 65px auto 10px auto;
    }

    .announcementItem {
        padding: 5px;
    }

    .announcementItem a {
        display: block;
        border: 1px solid #707070;
        overflow: hidden;
        padding: 0 0.5rem;
    }

    .login {
        display: block;
        margin: 65px 0 10px 0;
    }

    .loginTitle {
        margin: 0;
    }

    .loginArea {
        width: 95%;
    }

    .half {
        width: 100%;
    }

    .validateCode {
        width: 8rem;
        float: right;
    }

    .forgetPassword_sp {
        display: initial;
        float: right;
        font-size: 0.8rem;
        line-height: 2rem;
    }

    .forgetPassword {
        display: none;
    }

    .introductionBlock>span {
        padding: 0;
    }

    .workTitleArea span:nth-child(1) {
        padding: 0 0.5rem;
    }

    .previousButton,
    .nextButton,
    .toIndexButton {
        width: 90px;
        margin: 0 5px;
    }

    .contentHead_sp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #414141;
    }

    .novelChapter {
        font-size: 1.25rem;
    }

    .register {
        width: 100%;
        margin: 65px 0 10px 0;
    }

    .register table {
        width: 100%;
        margin: 0;
        border-spacing: 5px;
    }

    .register table tr td {
        width: 100%;
        position: relative;
        float: left;
    }

    .register table tr:not(:first-child) td {
        border: none;
    }

    .register table tr td:nth-child(1) {
        border: none;
        font-weight: bolder;
    }

    .registerInputArea {
        height: auto;
    }

    .registerHint_sp {
        display: initial;
    }

    .registerHint {
        display: none;
    }

    .registerInput {
        width: 100%;
    }

    .informationTable {
        border-collapse: collapse;
    }

    .informationTable tr:not(:last-child) {
        border-bottom: 1px dashed #707070;
    }

    .informationTable td {
        width: 100%;
        display: block;
        position: relative;
        float: left;
    }

    .informationTable tr td:nth-child(1) {
        text-align: left;
    }

    .contactBlock {
        width: 100%;
        margin: 65px 0 10px 0;
    }

    .contactBlock table {
        width: 100%;
    }

    .contactBlock table tr td {
        width: 100%;
        position: relative;
        float: left;
    }

    .contactBlock table tr:not(:first-child) td {
        border: none;
    }

    .contactBlock table tr td:nth-child(1) {
        border: none;
        font-weight: bolder;
    }

    .contactBlock table tr td:nth-child(2) {
        border-bottom: solid 1px #707070;
    }

    .cover {
        margin-top: 0;
    }

    .bookArea,
    .chapterArea {
        width: calc(100% - 1rem);
    }

    .chapterArea {
        margin-left: 1rem;
    }

    .paintWorks>ul {
        overflow: hidden;
    }

    .paintWorks>ul>li {
        width: 50%;
        position: relative;
        float: left;
    }

    .paintWorks .worksInformation {
        display: none;
    }

    .paintWorks .workItem {
        background: none;
    }

    .paintWorks .worksImg {
        display: flex;
        min-width: 100%;
        height: min-content;
        border: none;
        box-sizing: border-box;
    }

    .message {
        margin: 3rem auto 0 auto;
        height: calc(100vh - 8.5rem);
    }

    .contactArea,
    .chatroomArea {
        position: absolute;
        width: 100%;
        top: 2.5rem;
        max-height: initial;
    }

    .contactPerson {
        height: calc(100vh - 9.5rem - 26px);
    }

    .messageArea {
        width: 75%;
    }

    .otherMessage,
    .selfMessage {
        padding: 5px 0;
    }

    .chatroomArea {
        height: calc(100vh - 5.5rem);
        display: none;
    }

    .chatArea {
        height: calc(100vh - 7.5rem);
    }

    .searchContact {
        position: absolute;
        top: -2.5rem;
    }

    .contactPerson,
    .chatArea {
        max-height: initial;
    }

    /* click */
    /* .thisContact {
        display: flex;
    }

    .contactArea, .footer {
        display: none;
    }

    .chatroomArea {
        display: block;
    } */



    /* 唯一 */

    .pc {
        display: none !important;
    }

    .sp {
        display: inline-block;
    }

    a.color_system {
        background: #E8AB9E;
    }

    a.color_activity {
        background: #9BC6E2;
    }

    a.color_message {
        background: #8DE290;
    }
}