.communityGuidelinesCategory, .communityGuidelinesCategoryTitle, .communityGuidelines_Q {
    width: 100%;
}

.communityGuidelinesItem {
    font-weight: bolder;
    color: #1F5A1A;
    padding: 10px 0;
    box-sizing: border-box;
}

.communityGuidelinesItem ul {
    clear: both;
}

.communityGuidelinesItem li {
    float: initial;
    list-style-type: initial;
    margin-left: 2rem;
    line-height: 2rem;
}
