@media only screen and (max-width: 768px) {
    .block60 {
        width: 100%;
        margin: 65px 0 10px 0;
    }

    .block60 table {
        width: 100%;
    }

    .block60 table tr td {
        width: 100%;
        position: relative;
        float: left;
    }

    .block60 table tr:not(:first-child) td {
        border: none;
    }
    
    .block60 table tr td:nth-child(1) {
        border: none;
        font-weight: bolder;
    }

    .block60 table tr td:nth-child(2) {
        border-bottom: solid 1px #707070;
    }

    .advise {
        padding: 5px;
        text-align: left;
    }
    
}