@media only screen and (max-width: 768px) {
    .content {
        margin: 105px 0 10px auto;
    }

    .mainContent {
        width: 95%;
        margin: auto;
    }

    .workTypes {
        max-width: 100%;
        overflow-x: scroll;
    }

    .workTypesArea {
        width: max-content;
    }

    .workTypesArea span {
        padding: 0 1rem;
    }

    .tagArea div {
        width: 25%;
    }

    .collection table,
    .skipPage {
        display: none;
    }

    .collection ul {
        display: block;
        width: 100%;
        padding: 0 2.5%;
    }

    .collection ul li {
        width: 100%;
        margin-top: 10px;
        padding: 5px;
        background: #FFFFFF;
        border: #707070 solid 1px;
    }

    .colIndexTitle {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        border-bottom: #707070 solid 1px;
        color: #414141;
    }

    .works .colIndexTitle span:nth-child(1) {
        width: 15%;
        padding: 0;
        color: #414141;
        background: #FFFFAC;
        border: #707070 solid 1px;
    }

    .works .colIndexTitle span:nth-child(2) {
        text-align: left;
        padding-left: 5px;
        width: 70%;
        color: #1F5A1A;
        font-weight: bolder;
    }

    .works .colIndexTitle span:nth-child(3) {
        width: 15%;
        text-align: right;
    }

    .authors .colIndexTitle div:nth-child(1) span:nth-child(2) {
        font-size: 0.8rem;
    }

    .authors .colInformation>div:nth-child(1) {
        justify-content: space-between;
    }

    .authors .colIndexTitle div:nth-child(1) span:nth-child(1) {
        color: #1F5A1A;
        font-weight: bolder;
    }

    .colInformation>div {
        width: 100%;
        color: #414141;
    }

    .colInformation>div>div>span, .colIndexTitle>div:nth-child(2)>span:nth-child(2) {
        text-decoration: underline;
    }

    .colInformation>div:nth-child(1),
    .colInformation>div:nth-child(2) {
        display: flex;
        justify-content: center;
    }

    .works .colInformation>div:nth-child(1) span:nth-child(1) {
        width: 40%;
        color: #1F5A1A;
        text-align: left;
    }

    .colInformation>div:nth-child(1) span:nth-child(2) {
        width: 60%;
        text-align: right;
    }

    .colInformation>div:nth-child(2) div:nth-child(1),
    .colInformation>div:nth-child(2) div:nth-child(2),
    .colInformation>div:nth-child(2) div:nth-child(3) {
        width: 33.33%;
    }

    .colInformation>div:nth-child(2) div:nth-child(1) {
        text-align: left;
    }

    .colInformation>div:nth-child(2) div:nth-child(2) {
        text-align: center;
    }

    .colInformation>div:nth-child(2) div:nth-child(3) {
        text-align: right;
    }

    .works .colInformation>div:nth-child(2) span {
        text-decoration: underline;
    }

    .arrow {
        display: block;
    }

    .announcementItem {
        padding: 5px;
    }

    .announcementItem a {
        display: block;
        border: 1px solid #707070;
        overflow: hidden;
        padding: 0 0.5rem;
    }

    .announcementItem a span:nth-child(n){
        width: 100%;
        float: left;
        margin: 0;
    }

    .announcementItem a span:nth-child(1) {
        display: none;
        text-align: left;
    }

    .announcementItem a span:nth-child(3) {
        text-align: right;
        font-size: 0.9rem;
    }

    a.color_system {
        background: #E8AB9E;
    }

    a.color_activity {
        background: #9BC6E2;
    }

    a.color_message {
        background: #8DE290;
    }

}