
.block60 table {
    margin: 10px auto;
    text-align: left;
    border-collapse: collapse;
}

.block60 table span {
    padding: 5px;
    line-height: 2rem;
}

.block60 table tr:not(:first-child) td {
    border-top: 1px solid #707070;
}

.block60 table tr td:nth-child(1) {
    border-right: 1px solid #707070;
}

.advise {
    text-align: center;
}