@media only screen and (max-width: 768px) {
    .content {
        margin: 105px 0 10px auto;
    }

    .tagArea div {
        width: 25%;
    }

    .skipPage {
        display: none;
    }

    .colIndexTitle {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        border-bottom: #707070 solid 1px;
        color: #414141;
    }

    .block .colIndexTitle span:nth-child(2) {
        text-align: left;
        width: 70%;
    }

    .block .colIndexTitle span:nth-child(3) {
        width: 15%;
        text-align: right;
    }

    .block .colIndexTitle div:nth-child(1) span:nth-child(2) {
        font-size: 0.8rem;
    }

    .colInformation>div {
        width: 100%;
        color: #414141;
    }

    .block .colInformation>div:nth-child(1) span:nth-child(1) {
        width: 40%;
        color: #1F5A1A;
        text-align: left;
    }

    .colInformation>div:nth-child(1) span:nth-child(2) {
        width: 60%;
        text-align: right;
    }

    .colInformation>div:nth-child(2) div:nth-child(1),
    .colInformation>div:nth-child(2) div:nth-child(2),
    .colInformation>div:nth-child(2) div:nth-child(3) {
        width: 33.33%;
    }

    .colInformation>div:nth-child(2) div:nth-child(1) {
        text-align: left;
    }

    .colInformation>div:nth-child(2) div:nth-child(2) {
        text-align: center;
    }

    .colInformation>div:nth-child(2) div:nth-child(3) {
        text-align: right;
    }

    .announcementItem {
        padding: 5px;
    }

    .announcementItem a {
        display: block;
        border: 1px solid #707070;
        overflow: hidden;
        padding: 0 0.5rem;
    }

}