@media only screen and (max-width: 768px) {
    .content {
        margin: 65px 0 10px auto;
    }
    
    .mainContent, .dailyTheme {
        width: 95%;
        margin: auto;
    }

    .tagArea div {
        width: 50%;
    }

    .collection table, .skipPage {
        display: none;
    }

    .collection ul {
        display: block;
        width: 100%;
        padding: 0 2.5%;
    }

    .collection ul li {
        width: 100%;
        margin-top: 10px;
        padding: 5px;
        background: #FFFFFF;
        border: #707070 solid 1px;
    }

    .colIndexTitle {
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
        border-bottom: #707070 solid 1px;
    }

    .authors .colIndexTitle {
        justify-content: space-between;
        align-items: flex-end;
    }

    .works .colIndexTitle span:nth-child(1) {
        width: 15%;
        padding: 0;
        color: #414141;
        background: #FFFFAC;
        border: #707070 solid 1px;
    }

    .authors .colIndexTitle div:nth-child(1) span:nth-child(1) {
        padding: 0;
        color: #1F5A1A;
        font-weight: bolder;
        text-align: left;
    }
    
    .works .colIndexTitle span:nth-child(2) {
        text-align: left;
        padding-left: 5px;
        width: 70%;
        color: #1F5A1A;
        font-weight: bolder;
    }

    .authors .colIndexTitle div:nth-child(1) span:nth-child(2) {
        text-align: left;
        padding-left: 5px;
        color: #414141;
        font-size: 0.5rem;
    }

    .works .colIndexTitle span:nth-child(3) {
        width: 15%;
        text-align: right;
    }

    .authors .colIndexTitle>div:nth-last-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #414141;
    }

    .authors .colIndexTitle>div:nth-last-child(1) span:nth-last-child(1) {
        text-decoration: underline;
    }

    .colInformation>div {
        width: 100%;
        color: #414141;
    }

    .colInformation>div:nth-child(1),
    .colInformation>div:nth-child(2) {
        display: flex;
        justify-content: center;
    }

    .works .colInformation>div:nth-child(1) span:nth-child(1) {
        width: 40%;
        color: #1F5A1A;
        text-align: left;
    }

    .colInformation>div:nth-child(1) span:nth-child(2) {
        width: 60%;
        text-align: right;
    }

    .colInformation>div:nth-child(2) div:nth-child(1),
    .colInformation>div:nth-child(2) div:nth-child(2),
    .colInformation>div:nth-child(2) div:nth-child(3) {
        width: 33.33%;
    }

    .colInformation>div:nth-child(2) div:nth-child(1) {
        text-align: left;
    }

    .colInformation>div:nth-child(2) div:nth-child(2) {
        text-align: center;
    }

    .colInformation>div:nth-child(2) div:nth-child(3) {
        text-align: right;
    }

    .works .colInformation>div:nth-child(2) span {
        text-decoration: underline;
    }

    .authors .colInformation div {
        justify-content: space-between;
    }

    .authors .colInformation div span {
        color: #414141;
        text-decoration: underline;
    }

    .arrow {
        display: block;
    }

    .announcementTable {
        border-collapse: separate;
        border-spacing: 0 5px;
    }

    .announcementTable tr {
        box-shadow: 2px 2px 2px #DDDDDD;
    }

    .announcementTable tr td {
        position: relative;
        float: left;
        width: 100%;
        padding: 0 5px;
    }
    
    .announcementTable tr td:nth-child(1) {
        display: none;
    }




    tr.color_system {
        background: #E8AB9E;
    }
    
    tr.color_activity {
        background: #9BC6E2;
    }
    
    tr.color_message {
        background: #8DE290;
    }
}