.login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #414141;
}

.half {
    width: 50%;
}

.loginArea {
    width: 80%;
    margin: auto;
}

.loginForm input:not(.validateCode) {
    width: 100%;
}

.loginForm div {
    margin: 10px auto;
}

.validateCode {
    width: 8rem;
    float: right;
}

.buttonArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitButton {
    padding: 5px 15px;
}

.forgetPassword_sp {
    display: none;
}

.forgetPassword {
    display: block;
    text-align: center;
    font-size: 0.8rem;
}

.signInWith {
    width: 100%;
}

.signInWith img {
    width: 100%;
    margin: 10px 0;
}