@media only screen and (max-width: 768px) {
    .login {
        display: block;
        margin: 65px 0 10px 0;
    }

    .loginTitle {
        margin: 0;
    }

    .half {
        width: 100%;
    }

    .loginArea {
        width: 95%;
    }

    .forgetPassword_sp {
        display: initial;
        float: right;
        font-size: 0.8rem;
        line-height: 2rem;
    }

    .forgetPassword {
        display: none;
    }
}