@media only screen and (max-width: 768px) {
    .whole {
        width: 100%;
    }

    .header {
        top: 0;
        position: fixed;
        z-index: 999;
    }

    .subBar {
        top: 48px;
        position: fixed;
        z-index: 990;
    }

    .navBar {
        padding: 0;
    }

    .navBarIcon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0;
        z-index: 15;
    }

    .sp {
        display: block;
    }

    .sp_navBarLogo {
        display: block;
        width: 25%;
    }

    .navBarIcon ul {
        width: calc(55% - 48px);
    }

    .sp_serchSpace {
        width: 10%;
        height: 1rem;
    }

    .menuIcon {
        width: 50px;
        display: block;
        border-left: #333333 solid 2px;
        padding: 0 12px;
    }

    .menuIcon img {
        width: 24px;
    }

    .navBarTool {
        position: fixed;
        /* right: -100%; */
    }

    .headerSpaceArea,
    .copyrightText,
    .pc {
        display: none;
    }

    .navBarIcon li:nth-child(1), .navBarIcon li:nth-child(2) {
        display: none;
    }

    .searchBar {
        position: absolute;
        width: 80%;
        top: 0;
        right: 50px;
        box-shadow: none;
    }

    .searchArea {
        width: 100%;
        display: block;
    }

    .search input,
    .search select {
        height: 2rem;
    }

    .search {
        width: calc(90% - 50px);
        float: left;
        display: none;
    }

    .searchIcon {
        float: right;
    }



    .innerFooter {
        width: 100%;
    }

    .slogan {
        letter-spacing: 1pt;
    }

    .footerTool {
        width: 100%;
        font-size: 0.75rem;
    }

    .footerTool li:nth-child(2), .footerTool li:nth-child(3), .footerTool li:nth-child(4), .footerTool li:nth-child(5) {
        box-sizing: border-box;
        border-left: solid white 2px;
    }
    
    .footerTool {
        padding-top: 5px;
    }
}