@media only screen and (max-width: 768px) {
    .whole {
        width: 100%;
    }

    .header {
        top: 0;
        position: fixed;
        z-index: 999;
    }

    .navBar {
        padding: 0;
    }

    .navBarIcon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0;
        z-index: 15;
    }

    .sp {
        display: block;
    }

    .sp_navBarLogo {
        display: block;
        width: 25%;
    }

    .navBarIcon ul {
        width: calc(55% - 48px);
    }

    .sp_serchSpace {
        width: 10%;
        height: 1rem;
    }

    .menuIcon {
        width: 50px;
        display: block;
        border-left: #333333 solid 2px;
        padding: 0 12px;
    }

    .menuIcon img {
        width: 24px;
    }

    .navBarTool {
        position: fixed;
        width: 75%;
        height: 100vh;
        background: #B7D9B3;
        box-shadow: -2px 0px 3px #555555;
        top: 0;
    }

    .personal,
    .navBarTool ul,
    .navBarTool li:not(.pc) {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        text-align: left;
    }

    .navBarTool li {
        padding: 0.25rem 1rem;
        font-size: 1.25rem;
    }

    .sp_lang {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.5rem;
    }

    .close {
        width: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .close img {
        width: 100%;
    }

    .personal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    .sp_image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        border-radius: 100%;
        box-shadow: 2px 2px 2px #888888;
        margin: 0.5rem 1rem 0 0;
    }

    .sp_image img {
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
    }

    .sp_tool {
        width: 50%;
    }

    .sp_tool div {
        width: calc(50% + 2rem);
        border: 1px solid #707070;
        background: #FFFFFF;
        text-align: center;
        color: #1F5A1A;
        margin: 0.5rem auto;
        padding: 0 1rem;
    }

    .hr {
        display: block;
        width: 100%;
        border-bottom: 2px solid #888888;
        padding-right: 1rem;
    }

    .headerSpaceArea,
    .copyrightText,
    .pc {
        display: none;
    }

    .navBarIcon li:nth-child(1),
    .navBarIcon li:nth-child(2) {
        display: none;
    }

    .searchBar {
        position: absolute;
        width: 10%;
        top: 0;
        right: 50px;
        box-shadow: none;
        z-index: 20;
    }

    .searchArea {
        width: 100%;
        position: relative;
        margin-top: 0.5rem;
    }

    .search input,
    .search select {
        height: 2rem;
    }

    .search {
        display: none;
        width: calc(90% - 50px);
        float: left;
        display: none;
    }

    .searchIcon {
        position: absolute;
        top: 0.25rem;
        right: calc(24px + 0.5rem);
        margin: 0;
        transition: none;
    }

    .mask {
        display: block;
        position: absolute;
        width: 25vw;
        height: 100vh;
        top: 0;
        left: -25vw;
    }



    .innerFooter {
        width: 100%;
    }

    .slogan {
        letter-spacing: 1pt;
    }

    .footerTool {
        width: 100%;
        font-size: 0.75rem;
    }

    .footerTool li:nth-child(2),
    .footerTool li:nth-child(3),
    .footerTool li:nth-child(4),
    .footerTool li:nth-child(5) {
        box-sizing: border-box;
        border-left: solid white 2px;
    }

    .footerTool {
        padding-top: 5px;
    }

}