html, body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

input, select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    position: relative;
    float: left;
    text-align: center;
}

/* ========↓↓↓=header=↓↓↓========= */
.whole {
    width: 75%;
    margin: auto;
}

.header, .navBar {
    width: 100%;
}

.navBar, .searchArea {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D0E8CD;
}

.navBar {
    height: 3rem;
    box-shadow: 0px 0px 3px 3px #DDDDDD;
}

.navBarIcon {
    display: block;
    position: relative;
    float: left;
    width: 30%;
}

.navBarTool {
    display: block;
    position: relative;
    float: right;
    width: 70%;
}

.navBarIcon li {
    margin-top: 3px;
    width: 20%;
}

.navBarTool li {
    line-height: 3rem;
    width: 14.2857%;
    color: #1F5A1A;
    cursor: pointer;
}

.markTool {
    font-weight: bolder;
}

.navBarIcon img, .searchIcon img {
    width: 24px;
    cursor: pointer;
}

.headerSpaceArea {
    display: flex;
    align-items: center;
    height: 8rem;
}

.searchArea {
    height: 2.5rem;
    box-shadow: 0px 0px 3px 3px #DDDDDD;
}

.searchInput, .searchType {
    height: 1.5rem;
}

.searchType {
    margin: 0 0 0 -1px;
}

.searchIcon {
    margin: 0 0 0 5px;
}
/* ========↑↑↑=header=↑↑↑========= */


/* ========↓↓↓=content=↓↓↓========= */
.content {
    height: 2rem;
}
/* ========↑↑↑=content=↑↑↑========= */


/* ========↓↓↓=footer=↓↓↓========= */
.footer, .slogan, .footerIcon, .footerHr {
    width: 100%;
}

.footer {
    background: #82B57E;
    color: white;
    box-shadow: 0px 0px 3px 3px #DDDDDD;
}

.innerFooter {
    width: 70%;
    margin: auto;
}

.slogan {
    text-align: center;
    letter-spacing: 5pt;
    line-height: 2rem;
}

.footerIcon {
    text-align: center;
}

.footerIcon ul {
    display: flex;
    justify-content: center;
}

.footerIcon img {
    width: 24px;
    margin: 0 10px;
}

.footerHr {
    border-top: 1px solid #333333;
}

.copyrightText {
    display: block;
    position: relative;
    float: left;
    width: 30%;
    font-size: 0.5rem;
}

.footerBottom {
    height: 2rem;
}

.footerTool {
    display: block;
    position: relative;
    float: right;
    width: 70%;
}

.footerTool li {
    width: 20%;
    cursor: pointer;
}

/* ========↑↑↑=footer=↑↑↑========= */