* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
    text-align: center;
    transition: 0.3s;
}

li {
    position: relative;
    float: left;
    list-style: none;
}

/* ========↓↓↓=header=↓↓↓========= */
.whole {
    width: 75%;
    margin: auto;
}

.header, .navBar, .searchBar {
    width: 100%;
    z-index: 10;
}

.searchArea {
    width: 50%;
}

.navBar, .searchArea {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.navBar {
    height: 3rem;
    background: #D0E8CD;
    box-shadow: 0px 0px 3px #707070;
}

.menuIcon, .sp_navBarLogo {
    display: none;
}

.navBarIcon {
    display: block;
    position: relative;
    float: left;
    width: 30%;
}

.navBarTool {
    display: block;
    position: relative;
    float: right;
    width: 70%;
}

.navBarIcon li {
    margin-top: 3px;
    width: 20%;
}

.navBarTool li {
    line-height: 3rem;
    width: 14.2857%;
    color: #1F5A1A;
    cursor: pointer;
}

.navBarTool li:nth-child(1) {
    font-weight: bolder;
}

.navBarIcon img, .searchIcon img {
    width: 24px;
    cursor: pointer;
}

.headerSpaceArea {
    display: flex;
    align-items: center;
    height: 8rem;
}

.searchBar {
    display: flex;
    justify-content: center;
    height: 2.5rem;
    background: #D0E8CD;
    box-shadow: 0px 0px 3px #707070;
}

.search {
    width: 90%;
    display: flex;
}

.search input {
    width: 70%;
}

.search select {
    width: 30%;
}

.search input, .search select {
    box-sizing: border-box;
    height: 1.5rem;
}

.search select {
    margin: 0 0 0 -1px;
}

.searchIcon {
    width: 10%;
    margin: 10px 0 0 5px;
}
/* ========↑↑↑=header=↑↑↑========= */
.header, .content, .footer {
    display: block;
    position: relative;
}
/* ========↓↓↓=footer=↓↓↓========= */
.footer, .slogan, .footerIcon, .footerHr {
    width: 100%;
}

.footer {
    background: #82B57E;
    color: white;
    box-shadow: 0px 0px 3px #707070;
}

.innerFooter {
    width: 70%;
    margin: auto;
}

.slogan {
    letter-spacing: 5pt;
    line-height: 2rem;
}

.footerIcon ul {
    display: flex;
    justify-content: center;
}

.footerIcon img {
    width: 24px;
    margin: 0 10px;
}

.footerHr {
    border-top: 1px solid #333333;
}

.copyrightText {
    display: block;
    position: relative;
    float: left;
    width: 25%;
    font-size: 0.5rem;
}

.footerBottom {
    width: 100%;
    height: 2rem;
}

.footerTool {
    display: block;
    position: relative;
    float: right;
    width: 75%;
}

.footerTool li {
    width: 20%;
    cursor: pointer;
}

/* ========↑↑↑=footer=↑↑↑========= */