@media only screen and (max-width: 768px) {
    .whole {
        width: 100%;
    }

    .header {
        top: 0;
        position: fixed;
        z-index: 999;
    }

    .subBar {
        top: 48px;
        position: fixed;
        z-index: 990;
    }

    .sp_navBarLogo {
        display: block;
        width: 30%;
    }

    .navBarIcon {
        width: 70%;
    }

    .navBarIcon li {
        box-sizing: border-box;
    }

    .navBarTool {
        position: fixed;
        right: -100%;
    }

    .headerSpaceArea,
    .copyrightText {
        display: none;
    }

    .navBarIcon li:nth-child(1), .navBarIcon li:nth-child(2) {
        display: none;
    }

    .menuIcon img {
        width: 24px;
    }

    .menuIcon {
        display: block;
        box-sizing: border-box;
        border-left: #333333 solid 2px;
        float: right;
        padding: 0 10px;
    }

    .searchBar {
        position: absolute;
        width: 65%;
        top: 0;
        left: 50%;
        height: 3rem;
        transform: translateX(-50%);
        box-shadow: none;
    }

    .searchArea {
        width: 100%;
    }

    .search input,
    .search select {
        height: 2rem;
    }




    .innerFooter {
        width: 100%;
    }

    .slogan {
        letter-spacing: 1pt;
    }

    .footerTool {
        width: 100%;
        font-size: 0.75rem;
    }

    .footerTool li:nth-child(2), .footerTool li:nth-child(3), .footerTool li:nth-child(4), .footerTool li:nth-child(5) {
        box-sizing: border-box;
        border-left: solid white 2px;
    }
    
    .footerTool {
        padding-top: 5px;
    }
}