.footerIcon ul,
.search,
.searchBar,
.headerSpaceArea,
.navBar,
.searchArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footerTool,
.copyrightText,
.navBarTool,
.navBarIcon,
li {
    position: relative;
    display: block;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans TC", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

li {
    float: left;
    list-style: none;
}

.header,
.navBar,
.searchBar,
.footer,
.slogan,
.footerIcon,
.footerHr,
.footerBottom {
    width: 100%;
}

.whole,
.footerTool,
.navBarTool,
.innerFooter {
    width: 75%;
}

.searchArea {
    width: 50%;
}

.copyrightText {
    width: 25%;
}

.whole,
.innerFooter {
    margin: auto;
}

.navBar {
    height: 3rem;
    background: #D0E8CD;
    -webkit-box-shadow: 0px 0px 3px 3px #DDDDDD;
    box-shadow: 0px 0px 3px 3px #DDDDDD;
}

.menuIcon,
.sp_navBarLogo {
    display: none;
}

.navBarIcon {
    float: left;
    width: 30%;
}

.navBarIcon li {
    margin-top: 3px;
    width: 20%;
}

.navBarIcon li img {
    width: 24px;
    cursor: pointer;
}

.navBarTool {
    float: right;
}

.navBarTool li {
    line-height: 3rem;
    width: 14.2857%;
    color: #1F5A1A;
    cursor: pointer;
}

.navBarTool li:nth-child(1) {
    font-weight: bolder;
}

.headerSpaceArea {
    height: 8rem;
}

.searchBar {
    height: 2.5rem;
    background: #D0E8CD;
    -webkit-box-shadow: 0px 0px 3px 3px #DDDDDD;
    box-shadow: 0px 0px 3px 3px #DDDDDD;
}

.search {
    width: 90%;
}

.search input,
.search select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 1.5rem;
}

.search input {
    width: 70%;
}

.search select {
    width: 30%;
    margin: 0 0 0 -1px;
}

.searchIcon {
    width: 10%;
    margin: 10px 0 0 5px;
}

.searchIcon img {
    width: 24px;
    cursor: pointer;
}

.content {
    height: 2rem;
}

.footer {
    background: #82B57E;
    color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 3px 3px #DDDDDD;
    box-shadow: 0px 0px 3px 3px #DDDDDD;
}

.slogan {
    letter-spacing: 5pt;
    line-height: 2rem;
}

.footerIcon ul img {
    width: 24px;
    margin: 0 10px;
}

.footerHr {
    border-top: 1px solid #333333;
}

.copyrightText {
    float: left;
    font-size: 0.5rem;
}

.footerBottom {
    height: 2rem;
}

.footerTool {
    float: right;
}

.footerTool li {
    width: 20%;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .whole {
        width: 100%;
    }

    .innerFooter {
        width: 85%;
    }

    .menuIcon {
        display: none;
    }

    .searchArea {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {

    .whole,
    .searchArea,
    .innerFooter,
    .footerTool {
        width: 100%;
    }

    .sp_navBarLogo {
        position: relative;
        display: block;
        width: 30%;
    }

    .navBarTool {
        position: fixed;
        right: -100%;
    }

    .headerSpaceArea,
    .copyrightText {
        display: none;
    }

    .navBarIcon {
        width: 70%;
    }

    .navBarIcon li {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .navBarIcon li:nth-child(1) {
        display: none;
    }

    .navBarIcon li:nth-child(2) {
        display: none;
    }

    .menuIcon {
        position: relative;
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-left: #333333 solid 2px;
        float: right;
        padding: 0 10px;
    }

    .menuIcon img {
        width: 24px;
    }

    .searchBar {
        position: absolute;
        width: 65%;
        top: 0;
        left: 50%;
        height: 3rem;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .search input,
    .search select {
        height: 2rem;
    }

    .slogan {
        letter-spacing: 1pt;
    }

    .footerTool {
        font-size: 0.75rem;
        padding-top: 5px;
    }

    .footerTool li:nth-child(2) {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-left: solid white 2px;
    }

    .footerTool li:nth-child(3) {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-left: solid white 2px;
    }

    .footerTool li:nth-child(4) {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-left: solid white 2px;
    }

    .footerTool li:nth-child(5) {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-left: solid white 2px;
    }
}