@media only screen and (max-width: 768px) {
    .content {
        margin: 65px 0 10px auto;
    }

    .mainContent {
        width: 95%;
        margin: auto;
    }

    .tagArea div {
        width: 50%;
    }

    .conditionTable {
        width: 100%;
    }

}