
.tagArea div {
    width: 30%;
    margin-left: -5%;
}

.block {
    width: 100%;
    box-shadow: 2px 2px 2px #DDDDDD;
    border-radius: 10px 10px 0px 0px;
    background: #FBFBFB;
}

.conditionTitle {
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    background: #588154;
    font-weight: bolder;
    border-radius: 10px 10px 0px 0px;
}

.conditionContent {
    margin: 0 1rem;
}

.conditionTable {
    width: 50%;
    color: #1F5A1A;
    border-collapse: collapse;
    text-align: left;
    line-height: 2rem;
}

.label {
    color: #414141;
}

.matchArea {
    width: 70%;
    margin: 1rem auto;
    color: #414141;
}

.author {
    width: 100%;
    font-size: 1.5rem;
}

.image, .image img {
    width: 100%;
}

.image {
    border: #707070 solid 1px;
    box-shadow: 0px 0px 2px 2px #DDDDDD;
}

.image, .addFriend {
    display: flex;
    justify-content: center;
    align-items: center;
}

.matchInformation {
    width: 100%;
    text-align: left;
    margin: 1rem 0;
}

.matchInformation span:nth-child(1) {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    color: #1F5A1A;
}

.matchInformation span:nth-child(2) {
    display: block;
    width: 100%;
}

.addFriendButton {
    width: 200px;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.25rem;
    color: #FFFFFF;
    border: 1px solid #707070;
    background: #2D548F;
}
