
.tagArea div {
    width: 30%;
}

/* 如果分頁不在第一位的樣式 */
.tagArea div:nth-child(1) {
    margin-left: 0;
}

.tagArea div:nth-child(2) {
    margin-left: -5%;
    background: #75A47A;
    color: #FFFFFF;
    z-index: 10;
}

.block {
    width: 100%;
    box-shadow: 2px 2px 2px #DDDDDD;
    border-radius: 10px 10px 0px 0px;
    background: #FBFBFB;
}

.conditionTitle {
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    background: #588154;
    font-weight: bolder;
    border-radius: 10px 10px 0px 0px;
}

.conditionContent {
    margin: 0 1rem;
}

.conditionTable {
    width: 50%;
    color: #1F5A1A;
    border-collapse: collapse;
    text-align: left;
    line-height: 2rem;
}

.label {
    color: #414141;
}

.introductionArea {
    width: 70%;
    margin: 1rem auto;
    color: #414141;
}

.im {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: #1F5A1A;
    margin: 20px 0;
}

.im span {
    margin-right: 1rem;
}

.im select, .oneRow select {
    padding: 0 5px;
    box-sizing: border-box;
    color: #414141;
}

.submitModify, .uploadWork {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitModifyButton {
    width: 200px;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.25rem;
    color: #FFFFFF;
    border: 1px solid #707070;
    background: #2D548F;
}

.introductionBlock {
    width: 100%;
    text-align: left;
    margin: 0.5rem 0;
}

.introductionBlock>span {
    font-size: 1.25rem;
    color: #1F5A1A;
    padding-left: 1rem;
}

.introductionBlock>textarea {
    width: 100%;
    height: 4rem;
    resize: none;
}

.uploadWork>textarea {
    width: 100%;
    height: 10rem;
    resize: none;
}

.uploadWork>textarea::placeholder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 1.25rem;
    text-align: center;
    line-height: 9.5rem;
}