@media only screen and (max-width: 768px) {
    .message {
        margin: 3rem auto 0 auto;
        height: calc(100vh - 8.5rem);
    }

    .contactArea,
    .chatroomArea {
        position: absolute;
        width: 100%;
        top: 2.5rem;
        max-height: initial;
    }

    .contactPerson {
        height: calc(100vh - 9.5rem - 26px);
    }

    .messageArea {
        width: 75%;
    }

    .otherMessage, .selfMessage {
        padding: 5px 0;
    }

    .chatroomArea {
        height: calc(100vh - 5.5rem);
        display: none;
    }

    .chatArea {
        height: calc(100vh - 7.5rem);
    }
    
    .searchContact {
        position: absolute;
        top: -2.5rem;
    }

    .contactPerson, .chatArea {
        max-height: initial;
    }

    .footer {
        display: block;
    }

    /* click */
    /* .thisContact {
        display: flex;
    }

    .contactArea, .footer {
        display: none;
    }

    .chatroomArea {
        display: block;
    } */
}