.message {
    width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
    min-height: calc(100vh - 17.5rem - 24px);
    text-align: center;
    color: #414141;
}

.contactArea, .chatroomArea {
    position: relative;
    float: left;
    box-sizing: border-box;
}

.contactArea {
    width: 25%;
    z-index: 10;
}

.chatroomArea {
    width: 75%;
    height: calc(100vh - 13.5rem);
    z-index: 5;
}

.searchContact, .contactPerson, .contactPerson>li, .contactCover img, .submitMessage, .thisContact {
    width: 100%;
}

.searchContact, .contactPerson>li, .contactCover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchContact, .thisContact {
    height: 2.5rem;
    background: #82B57E;
}

.searchContact>input {
    width: calc(60% - 34px);
}

.contactPerson {
    max-height: calc(100vh - 16rem);
    overflow-y: scroll;
    overflow-x: hidden;
}

.contactPerson>li {
    padding: 5px 0;
    cursor: pointer;
}

.contactPerson>li:hover {
    background: #DDDDDD;
}

.contactCover {
    width: 60px;
    overflow: hidden;
    border-radius: 30px;
    margin: 0 0.5rem;
}

.previewMessage {
    width: calc(100% - 100px);
    line-break: anywhere;
    box-sizing: border-box;
    padding: 5px;
}

.previewMessage span {
    display: block;
    width: 100%;
    text-align: left;
    max-height: 2rem;
    overflow: hidden;
}

.previewMessage span:nth-child(1) {
    color: #1F5A1A;
    line-height: 1.5rem;
}

.previewMessage span:nth-child(2) {
    line-height: 1rem;
}

.contactMore {
    width: 50px;
    font-weight: bolder;
    font-size: 2rem;
    letter-spacing: 0.25rem;
}

.contactMore span {
    display: block;
    transform: rotate(90deg);
}

.thisContact {
    align-items: center;
    position: absolute;
    top: -2.5rem;
}

.thisContact span:nth-child(1) {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    cursor: pointer;
}

.thisContact span:nth-child(1) img {
    width: 100%;
}

.thisContact span:nth-child(2) {
    color: white;
}

.chatArea {
    max-height: calc(100vh - 15.5rem);
    overflow-y: scroll;
}

.submitMessage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #82B57E;
    height: 2rem;
}

.submitMessage>input {
    width: calc(100% - 2rem - 20px);
}

.submitMessageButton {
    width: 5rem;
    box-sizing: border-box;
    margin-left: 10px;
    line-height: 1.5rem;
    color: #FFFFFF;
    background-color: #75A175;
    border: 1px solid #365439;
}

.otherMessage {
    overflow: hidden;    
}

.otherMessage, .selfMessage {
    width: 100%;
    padding: 1rem 0; 
    overflow: hidden;
}

.messageArea {
    width: 60%;
}
.otherMessage .messageArea {
    display: flex;
    align-items: flex-start;
    float: left;
}

.selfMessage .messageArea {
    display: flex;
    align-items: flex-end;
    float: right;
}

.messageInfo {
    width: calc(100% - 1rem - 60px);
}

.messageInfo span {
    width: 100%;
    display: block;
    line-break: anywhere;
}

.messageInfo span:nth-child(1) {
    font-size: 0.9rem;
}

.otherMessage .messageInfo span:nth-child(1) {
    text-align: left;
}

.selfMessage .messageInfo span:nth-child(1) {
    text-align: right;
}

.messageInfo span:nth-child(2) {
    padding: 5px;
    color: #1F5A1A;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px #DDDDDD;
    border: 1px solid #707070;
    border-radius: 10px;
    background: #EBF5EA;
    padding: 5px;
}

.isRead {
    display: block;
    margin-right: 5px;
    color: #1F5A1A;
}

.footer, .thisContact {
    display: none;
}