.location {
    font-size: 0.8rem;
}

.location>span:nth-child(1), .location>span:nth-child(3) {
    text-decoration: underline;
}

.serialStatus {
    color: #1F5A1A;
}

.serialStatus>span {
    margin-right: 1rem;
}
