.newSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: #1F5A1A;
    margin: 20px 0;
}

.newSelect span {
    margin-right: 1rem;
}

.newSelect select, .oneRow select {
    padding: 0 5px;
    box-sizing: border-box;
    color: #414141;
}

.newChapterArea {
    width: 100%;
    display: block;
    position: relative;
    float: left;
    text-align: left;
    color: #414141;
}

.newChapterArea>div {
    margin: 10px 0;
}

.oneRow {
    display: flex;
    align-items: center;
}

.oneRow input[type="text"] {
    width: 70%;
}

.location {
    font-size: 0.8rem;
}

.location>span:nth-child(1), .location>span:nth-child(3) {
    text-decoration: underline;
}

.fieldName {
    display: block;
    width: 30%;
}

.serialStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1F5A1A;
}

.serialStatus>span {
    margin-right: 1rem;
}

.breakRow textarea {
    width: 100%;
    min-height: 5rem;
    resize: vertical;
}

div.postButtonArea {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
}
