@media only screen and (max-width: 768px) {
    .content {
        margin: 105px 0 10px auto;
    }

    .fieldName {
        display: block;
        width: 45%;
    }
    
    .oneRow input[type="text"] {
        width: 55%;
    }
    
}