.newSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: #1F5A1A;
    margin: 20px 0;
}

.newSelect span {
    margin-right: 1rem;
}

.newSelect select, .oneRow select {
    padding: 0 5px;
    box-sizing: border-box;
    color: #414141;
}

.newPaintArea {
    width: 100%;
    display: block;
    position: relative;
    float: left;
    text-align: left;
    color: #414141;
}

.newPaintArea>div {
    margin: 10px 0;
}

.oneRow {
    display: flex;
    align-items: center;
}

.oneRow input[type="text"] {
    width: 70%;
}

.breakRow textarea {
    width: 100%;
    min-height: 5rem;
    resize: vertical;
}

div.postButtonArea {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
}
