
.workItem {
    width: 100%;
    display: block;
    border-bottom: 1px dashed #707070;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.workItem>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #414141;
    margin: 5px 0;
}

.workItem>div>span:nth-child(1) {
    width: calc(100% - 24px);
    display: block;
    padding: 5px 10px;
    box-sizing: border-box;
}

.workItem>div>span:nth-child(2) {
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 1px #707070;
}

.workItem img {
    width: 100%;
}

.workName>span, .workBook>span, .workChapter>span {
    display: block;
    width: 33.33%;
    float: left;
    min-height: 1rem;
}
