@media only screen and (max-width: 768px) {
    .content {
        margin: 65px 0 10px auto;
    }

    .mainContent {
        width: 95%;
        margin: auto;
    }

    .contentBlock {
        background: #82B57E;
    }

    .tagArea div {
        width: 50%;
    }

    .worksImg, .worksFooter>.novelChapter, .workDetails>span:last-child {
        display: none;
    }

    .worksInformation {
        width: 100%;
    }

    .workItem {
        border: 1px solid #707070;
        padding: 0;
    }

    .worksHead {
        padding-bottom: 5px;
        border-bottom: 1px solid #707070;
    }

    .worksContent{
         height: 4.5rem;
    }

    .contentHead_sp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #414141;
    }

    .contentHead_sp>.novelChapter {
        font-size: 1.25rem;
    }

    .workDetails {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
    }

    .statusItem {
        padding: 0;
        font-size: 1.25rem;
    }

    .arrow {
        display: block;
    }

    .skipPage {
        display: none;
    }

    .workStatus, .workTitleArea span:nth-child(1) {
        padding: 0 0.5rem;
    }
}