@media only screen and (max-width: 768px) {
    .novel {
        width: 95%;
        margin: 65px auto 10px auto;
    }

    .workArea {
        margin-top: 0;
    }

    .previousButton,
    .nextButton,
    .toIndexButton {
        width: 90px;
        margin: 0 5px;
    }

    .msgHead span {
        width: 100%;
    }

    .msgHead span:nth-child(1) {
        text-align: left;
    }
    .msgHead span:nth-child(2) {
        text-align: right;
    }
}