.content {
    display: block;
    position: relative;
    margin: 0 0 10px 0;
}

.mainContent {
    width: 80%;
    margin: auto;
}

.works {
    margin: 20px 0;
    text-align: center;
}

.collection {
    width: 100%;
    box-shadow: 2px 0px 2px #DDDDDD;
    border: 1px solid #707070;
    border-radius: 0px 10px 10px 10px;
    clear: both;
}

.collection>ul>li {
    float: inherit;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}

.tagArea div {
    display: block;
    position: relative;
    float: left;
    width: 30%;
    height: 2rem;
    line-height: 2rem;
    margin-left: -5%;
    color: #1F5A1A;
    background: #D0E8CD;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    z-index: 5;
}

.tagArea div:nth-child(1) {
    margin: 0;
    background: #75A47A;
    color: #FFFFFF;
    z-index: 10;
}

.workItem {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #707070;
    background: #FFFFFF;
}

.worksImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid #707070;
}

.worksImg img {
    max-width: 100%;
    max-height: 100%;
}

.worksInformation {
    width: calc(100% - 200px);
    box-sizing: border-box;
    padding: 10px;
}

.worksHead, .worksContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.worksContent {
    width: 100%;
    height: 6rem;
    font-size: 1rem;
    resize: none;
    border: none;
    outline: none;
    color: #414141;
    overflow: hidden;
}

.worksContent:disabled {
    background: none;
}

.worksFooter span {
    position: relative;
    float: left;
    margin: 0.25rem 0.5rem;
    padding: 0 1rem;
    color: #414141;
    /* background: #FFFFAC; */
    border: #707070 solid 1px;
}

.workTitleArea span {
    margin-left: 0.5rem;
    color: #1F5A1A;
    font-size: 1.25rem;
    font-weight: bolder;
}

.workDetails {
    color: #414141;
}

.statusItem {
    padding: 0 0.5rem;
}

.statusItem span:nth-child(2) {
    text-decoration: underline;
}

.nextPage {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    color: #FFFFFF;
    background: #82B57E;
    border-radius: 0px 0px 10px 10px;
}

.nextPage div {
    padding: 0 10px;
}

.nextPage div:nth-child(1) {
    width: 20%;
}

.nextPage div:nth-child(2) {
    width: 60%;
}

.nextPage div:nth-last-child(1) {
    width: 20%;
}

.nextPage input {
    width: 50px;
}

.arrow {
    display: none;
}

.skipPage {
    display: block;
}

.type_fantasy {
    background: #FFFFAC;
}

.type_love {
    background: #E89EDE;
}

.type_horrible {
    background: #AAAAAA;
}

.type_reasoning {
    background: #E8C19E;
}

.type_SF {
    background: #9EE8C5;
}

.type_literary {
    background: #8DE290;
}

.type_comedy {
    background: #E8AB9E;
}

.type_artialArts {
    background: #9BC6E2;
}

.type_bgl {
    background: #C69EE8;
}

.type_else {
    background: #9E9EE8;
}
