@media only screen and (max-width: 768px) {
    .content {
        margin: 65px 0 10px auto;
    }

    .contentBlock {
        background: #82B57E;
    }

    .contentBlock>ul {
        overflow: hidden;
    }

    .contentBlock>ul>li {
        width: 50%;
        position: relative;
        float: left;
    }

    .worksInformation {
        display: none;
    }

    .workItem {
        padding: 0;
        background: none;
        border: none;
    }

    .worksImg {
        min-width: 100%;
        height: min-content;
        border: none;
        box-sizing: border-box;
    }

    .skipPage {
        display: none;
    }

}