
.qaCategory, .qaCategoryTitle, .qa_Q, .qa_A {
    width: 100%;
}

.qaItem {
    width: 98%;
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 0 auto 10px auto;
    border-bottom: 1px solid #707070;
    text-align: left;
}

.qa_Q {
    font-weight: bolder;
    color: #1F5A1A;
}

.qa_A {
    counter-reset: #414141;
    text-align: center;
}

.qa_A img {
    width: 75%;
    box-shadow: 2px 2px 2px #DDDDDD;
}

.qa_A *:not(img) {
    text-align: left;
}
