
.registerInputArea {
    height: 3rem;
}

.registerHint_sp {
    display: none;
    font-size: 0.75rem;
    color: #414141;    
}

.registerHint {
    font-size: 0.75rem;
    color: #1F5A1A;
}

.signInWith {
    width: 75%;
    margin: auto;
}

.signInWith img {
    width: 100%;
    margin: 10px 0;
}