@media only screen and (max-width: 768px) {
    .register {
        width: 100%;
        margin: 65px 0 10px 0;
    }

    .registerTitle {
        margin: 0;
    }

    .register table {
        width: 100%;
        margin: 0;
        border-spacing: 5px;
    }

    .register table tr td {
        width: 100%;
        position: relative;
        float: left;
    }

    .register table tr:not(:first-child) td {
        border: none;
    }
    
    .register table tr td:nth-child(1) {
        border: none;
        font-weight: bolder;
    }

    .registerInputArea {
        height: auto;
    }

    .registerHint_sp {
        display: initial;
    }

    .registerHint {
        display: none;
    }

    .registerInput {
        width: 100%;
    }

    .registerButton {
        width: 40%;
        margin: 10px auto;
    }

    .signInWith {
        width: 95%;
    }
    
    .signInWith img {
        margin: 5px 0;
    }
}