
.informationTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1rem;
}

.informationTable tr td:nth-child(1) {
    text-align: right;
    color: #1F5A1A;
}

.informationTable tr td:nth-child(2) {
    text-align: left;
    color: #414141;
}